:root {
    --colorPrincipal: #0073EA;
    --color2:#18C434;
    --color3:white;
    --full: 100%;
    --minFSize:9px;
    --heightMargin:9px;
    --gris1:#363636;
    --font1:10px;
    --noPad:0px;
    --pad1:10px;
    --pad2:15px;
    --pad3:16px;
    --pad4:17px;
    --pad5:20px;
    --pad6:27px;
    --font2:11px;
    --height1:300px;
    --font3:12px;
    --font4:13px;
    --font5:14px;
    --font6:15px;
    --font7:16px;
    --font8:47px;
    --gap1:15px;
    --gap2:20px;
    --gap3:4%;
    --ff1:FPTMed;
    --ff2:FPTBook;
    --ff3:FPTLight;
    --ff4:OPNSANS;
    --width1:60%;
    --width2:76%;
    --width3:80%;
    --width4:20px;
    --noMargin:0px;
    --margin1:2px;
    --margin2:5px;
    --margin3:10px;
    --margin4:33px;
    --transition1:all .6s;
    --gtc1:80%;
}
body {
    margin: var(--noMargin);;
}
@font-face {
    font-family: FPTLight;
    src: url('../fuentes/FuturaPTLight.otf');
}
@font-face {
    font-family: FPTMed;
    src: url('../fuentes/FuturaPTMedium.otf');
}
@font-face {
    font-family: FPTBook;
    src: url('../fuentes/FuturaPTBook.otf');
}
@font-face {
    font-family:OPNSANS;
    src: url('../fuentes/OpenSans-VariableFont_wdth\,wght.ttf');
}
@keyframes pulso {
    0% {
        background-color: #0071ea74;
    }
    90% {
        background-color: var(--colorPrincipal);
        transform: scale(2.1);
    }
    100% {
        opacity: 0;
    }
}
@keyframes invisible {
    from {
    }
    to {
        opacity: 1;
    }
}
@keyframes progress {
    from {
    }
    to {
        width: var(--progreso);
    }
}

@media screen and (min-width:937px) {
    header {
        background-size: var(--full);
        height: 940px;
    }
    nav {
        flex-direction: row;
    }
    .navegacion {
        grid-template-columns: 30px 255px 546px;
    }
    .navegacion + div > span:first-child {
        width: 39%;
        font-size: 50px;
    }
    .navegacion + div {
        height: 815px;
    }
    .navegacion + div > span {
        font-size: var(--font7) ;
        width: 31.3%;
    }
    #services {
        height: 980px;
    }
    #services > span, #choosePlan > span {
        width: 32.6%;
        font-size: var(--font7);
    }
    .services > div > article {
        width: 26.6%;
    }
    #services > div > article > span {
        font-size: 18px ;
    }
    .flecha {
        opacity: 0;
        transition: all 0.9s;
    } 
    .services > div > article:hover > a > .flecha {
       opacity: 1;
    } 
    #theSolution {
        height: 400px;
        grid-template-columns: 25% 30%;
    }
    #theSolution > button {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        width: 105px;
    }
    #theSolution h2, .negrita {
        font-size: var(--font8);
    }
    #theSolution p {
        font-size: var(--font5);
    }
    #RTColab {
        grid-template-columns: 14.3% 14.3% 9.3% 9.3%;
        height: 775px;
    }
    #RTColab > img:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    #RTColab img:not(:first-child) {
        margin-top: 20px;
        width: var(--full);
    }
    #RTColab img:last-child {
        grid-column-start: 1;
        grid-column-end: 5;
        width: 55px;
        place-self: center;
    }
    #RTColab > h2 {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    #RTColab > article {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    #BConsulting {
        grid-template-columns: 23.6% 28.3%;
        height:465px;
    }
    #BConsulting > img {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 7;
    }
    #expansion {
        flex-direction: row;
        height: 330px;
    }
    #expansion article {
        width:16.65%;
    }
    #expansion article h3 {
        font-size: var(--font7) ;
    }
    #expansion article p {
        font-size: var(--font3) ;
    }
    #choosePlan {
        height: 820px;
    }
    .plans {
        width:var(--width1);
        flex-direction: row;
    }
    .plans article {
        width: 31%;
    }
    .slide {
        width:var(--width1);
        height: 257px;
    }
    .slide-inner {
        height: calc( 300px + 3em);
    }
    .slide-item {
        flex-direction: row;
    }
    #news article {
        width: 30%;
    }
    #news {
        height: 485px;
        justify-content: center;
    }
    #news h2 {
        width:var(--width1);
        margin-top: var(--noMargin);
    }
    #getInTouch h2 {
        font-size: 48px;
        width: 46%;
    }
    footer {
        grid-template-columns: 21% 7% 7% 7% 9%;
    }
    footer section:last-of-type {
        grid-column-start: 1;
        grid-column-end: 6;
    }
}

@media screen and (max-width:650px) {
    header {
        height: 662px;
        width: var(--full);
        background-position: 70%;
        background-size: cover;
    }
    .navegacion {
        grid-template-columns:7% 73%;
        padding-bottom: 30px;
    }
    nav {
        grid-column-start: 1;
        grid-column-end: 3;
        flex-direction: column;
    }
    header li > a {
        font-size: 13px;
    }
    .navegacion + div > span:first-child {
        width:var(--width3);
        font-size: 44px;
    }
    .navegacion + div {
        height: 420px;
    }
    .navegacion + div > span {
        font-size: var(--font5) ;
        width:var(--width2);
    }
    .services {
        height: 2300px;
    }
    #services > h2, #services > div > article > h3, #choosePlan > h2 {
        width:var(--width3);
        text-align: center;
    }
    #services > div > article > h3 {
        text-align: left;
    }
    #services > span, #choosePlan > span {
        width:var(--width2);
        font-size: var(--font4) ;
    }
    .services > div > article {
        width: var(--full);
    }
    #services > div > article > span {
        font-size: var(--font3) ;
    }
    #theSolution {
        height: 320px;
        background-position: 53%;
        grid-template-columns: var(--gtc1);
        gap:var(--gap1);
        text-align: center;
        height: 400px;
    }
    .negrita {
        font-size: 32px;
    }
    #theSolution > h2 {
        font-size: 35px;
    }
    #theSolution p {
        font-size: 14.5px;
    }
    #theSolution > button {
        order: 1;
        width: 155px;
    }
    #RTColab {
        grid-template-columns: var(--gtc1);
        height: 1615px;
    }
    #RTColab img {
        place-self: center;
    }
    #BConsulting {
        grid-template-columns: var(--gtc1);
        height: 685px;
    }
    #expansion {
        flex-direction: column;
        height: 780px;
    }
    #expansion article {
        width:var(--width3);
    }
    #expansion article h3 {
        font-size: 21px;
    }
    #expansion article p {
        font-size: 17px;
    }
    #choosePlan {
        height: 1770px;
    }
    .plans {
        width:var(--width3);
        flex-direction: column;
    }
    .plans article {
        width: var(--full);
    }
    .slide {
        width:var(--width3);
        height: 465px;;
    }
    #news article {
        width: 81%;
    }
    #news {
        height: 1007px;
    }
    .slide-inner {
        height: 963px;
    }
    .slide-item {
        flex-direction: column;
    }
    #news h2 {
        width:var(--width3);
        margin-top: 50px;
    }
    #getInTouch h2 {
        font-size: 32px;
        width:var(--width3);
    }
    footer {
        grid-template-columns: 60% 20%;
    }
    footer section:last-of-type {
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: var(--minFSize);
    }
}

h1::first-line {
    text-transform: uppercase;
}

header {
    background-image: url("../fotos/header.jpg");
    background-repeat: no-repeat;
}
.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.play {
    width:var(--width4);
    margin-left: var(--margin1);
}
.playButton {
    width: 70px;
    height: 70px;
    background-color: var(--colorPrincipal);;
    border-radius: var(--full);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}
#circlePlay {
    width: 50px;
    height: 50px;
    border-radius: var(--full);
    z-index: 1;
    position: relative;
    top: 60px;
    animation: pulso 2s infinite;
}

.navegacion {
    border-bottom: 0.7px solid rgba(255, 255, 255, 0.219);
    display: grid;
    grid-template-rows: 80px;
    place-content: center;
    align-items: center;
}
nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:16px;
    list-style: none;
}
ul {
    padding:var(--noPad);
}
header li > a {
    color: var(--color3);;
    text-decoration: none;
    font-family: var(--ff1);
    display: flex;
    align-items: center;
    transition: var(--transition1);
}
header li > a:hover {
    color: var(--color2);;
}
.logo, .bolsa, .lupa {
    width:var(--width4);
    transition: var(--transition1);
}
.bolsa:hover,.bolsa:hover + span, .lupa:hover {
    transform: scale(1.2);
}
.bolsa + span {
    width: 12px;
    height: 12px;
    border-radius: var(--full);
    background-color: var(--color2);;
    position: relative;
    bottom: 10px;
    right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition1);
}
.bolsa + span::before {
    content:"2";
    color: var(--color3);;
    font-family: var(--ff3);
    font-size: var(--minFSize);
    transition: var(--transition1);
}
nav {
    display: flex;
    gap:var(--gap1);
    justify-content: flex-end;
    align-items: center;
}

.navegacion > h1 , footer section:first-child span {
    font-family: var(--ff3);
    color: var(--color3);;
    font-size: var(--font7) ;
    letter-spacing: 3px;
}
.start, .plans article:hover .purchase {
    background-color: var(--colorPrincipal);;
    color: var(--color3);;
    font-family: var(--ff1);
    padding: var(--pad1);
    padding-left: var(--pad5);
    padding-right: var(--pad5);
    border-radius: 3px;
    border: none;
    transition: var(--transition1);
}

.start:hover {
    background-color: var(--color3);
    color: var(--colorPrincipal);
}

.navegacion + div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navegacion + div > span {
    color: var(--color3);;
    text-align: center;
}
.navegacion + div > span:first-child {
    font-family: var(--ff1);
}
.navegacion + div > span {
    font-family: var(--ff4);
    margin-top: var(--margin3);
}
.viewButton {
    background-color: var(--color3);;
    color:var(--gris1);
    border: 1px solid var(--gris1);
    font-family: var(--ff1);
    border-radius: 2px;
    padding: 8px;
    padding-left: var(--pad6);
    padding-right: var(--pad6);
    margin-top: var(--margin4);
    transition: var(--transition1);
}
.viewButton:hover {
    color: var(--color3);;
    background-color: var(--gris1);
}
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:var(--gap2);
}
.services > div {
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:var(--gap2);
    margin-top: var(--margin4);
}
.services > div > article {
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: center;
    gap:11px;
    padding:var(--pad4);
    border-radius: 7%;
    position: relative;
    bottom: 0px;
    transition: var(--transition1);
}
.services > div > article:hover, .plans article:hover {
    position: relative;
    bottom: 4px;
    box-shadow: 0px 7px 0px -4px var(--colorPrincipal), 0px 0px 30px 15px rgba(243, 243, 243, 0.61);
}
.flecha {
    width: var(--full);
} 
#services > h2, #services > div > article > h3, #choosePlan > h2{
    font-family: var(--ff2);
    margin: var(--noMargin);;
    font-size: 42px;
}
#services > div > article > h3 {
    font-size: 20px ;
}
#services > span, #choosePlan > span {
    text-align: center;
    color: #646464;
}
#services > div > article > img {
    width: 60px;
}
#services > span, #services > div > article > span, #choosePlan > span {
    font-family: var(--ff4);
}
#services > div > article > span {
    color: #727272;
}
#services > div > article > a {
    width: 7%;
    align-self: flex-end;
    position: relative;
    top: 17px;
}


#theSolution {
    background-image: url('../fotos/fondoConCafe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-content: center;
    align-items: center;
    color: var(--color3);;
    background-attachment: fixed;
}
.negrita {
    font-family: var(--ff1);
}
#theSolution > h2 {
    font-family: var(--ff3);
    margin: var(--noMargin);;
}
#theSolution > p {
    font-family: var(--ff4);
}
#theSolution > button {
    place-self: center;
}

#RTColab {
    display: grid;
    gap:var(--gap3);
    place-content: center;
    align-items: center;
}
#BConsulting {
    display: grid;
    gap:var(--gap3);
    place-content: center;
    align-items: center;
    padding:var(--pad4);-bottom: 70px;
}
#RTColab > img:first-child, #BConsulting > img {
    width: var(--full);
}
#RTColab > h2 {
    font-family: var(--ff2);
    font-size: 32px;
    margin: var(--margin2);
}
#RTColab > article {
    display: grid;
    grid-template-columns: 9% 91%;
    align-items: center;
    align-self: first baseline
}
#RTColab > article > h3 {
    margin: var(--noMargin);;
    font-family: var(--ff2);
    font-size: 20px;
}
#RTColab p {
    grid-column-start: 2;
    font-family: var(--ff4);
    font-size: var(--font7) ;
    color: #646464;
    
}
.icon_RTColab {
    width:var(--width4);
}

#BConsulting > h2 {
    font-family: var(--ff2);
    font-size: 30px;
}
#BConsulting > h2, .stats {
    grid-column-start: 1;
    grid-column-end: 2;
}
.totalProgress {
    width: var(--full);
    height: var(--heightMargin);
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    margin-top: 6px;
}
.currentProgress {
    width: 5%;
    height: var(--heightMargin);
    background:linear-gradient(to right, rgb(85, 190, 255), rgb(4, 86, 200));
    border-radius: 15px;
    animation: progress 3s 2s forwards;
}
.stats > div:nth-child(1) {
    width: calc(var(--progreso) + 5%);
    font-family: var(--ff2);
}
.BW {
    --progreso:70%;
}
.MC {
    --progreso:90%;
}
.MM {
    --progreso:80%;
}
.BC {
    --progreso:60%;
}
.stats > div:nth-child(1) span {
    float: right;
    opacity: 0;
    font-family: var(--ff2);
    animation: invisible 4s 2.5s forwards;
}
#expansion {
    background-image: url("../fotos/fondoSection.png");
    color: var(--color3);;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:var(--gap2);
}
#expansion article {
    background-color: rgba(255, 255, 255, 0.22);
    border-radius: 4px;
    padding:var(--pad2);
}
#expansion article span {
    font-family: var(--ff2);
    font-size: 40px;
}
#expansion article h3 {
    font-family: var(--ff3);
}
#expansion article p {
    font-family: var(--ff4);
}

#choosePlan {
    background-color: #F5FAFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:var(--gap2);
}
.plans article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);;
    border-radius: 14px;
    position: relative;
    bottom: 0px;
    transition: var(--transition1);
    padding:var(--pad2);
}
.plans p {
    margin: 14px;
    font-family: var(--ff4);
    font-size: var(--font7);
    color:#8a94b2;
}
.plans h3 {
    background-color: #F5FAFD;
    color: var(--colorPrincipal);;
    border-radius: 15px;
    font-family: var(--ff2);
    font-size: var(--font4);
    padding: 5px;
    width: 85px;
    text-align: center;
    margin-bottom: var(--margin1);
}
.plans h3 + span {
    font-family: var(--ff2);
    font-size: var(--font8);
    margin: var(--noMargin);;
    margin-bottom: var(--margin3);
}
.purchase{
    background-color: var(--color3);;
    color:var(--colorPrincipal);;
    border: 1px solid var(--gris1);
    font-family: var(--ff1);
    padding: var(--pad1);
    padding-left: var(--pad5);
    padding-right: var(--pad5);
    border-radius: 3px;
    transition: var(--transition1);
    cursor: pointer;
    margin-top: 22px;
}
.plans span:last-child{
    color: #d9d9d9;
    font-family: var(--ff4);
    font-size: var(--font1);
}
#choosePlan label {
    display: flex;
    margin: 26px;
    font-family: var(--ff4);
    font-size: var(--font2);
}
#choosePlan label > span:first-of-type {
    order: -1;
}
input[type="checkbox"]:checked + span {
    color: rgb(143, 143, 143);
}
input[type="checkbox"]:not(:checked) + span + span {
    color: rgb(143, 143, 143);
}
.slider {
    background-color: var(--colorPrincipal);;
    width: 30px;
    height: 17px;
    border-radius: 10px;
    position: relative;
    display: flex;
    order: -1;
    margin-left:var(--margin2);
    margin-right: var(--margin2);
}
.slider::before {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: var(--full);
    background-color: var(--color3);;
    position: absolute;
    top:2px;
    left: 2px;
    transition: all 0.4s;
}
input[type="checkbox"]:checked + span + span + span {
    background-color: var(--color2);;
}
input[type="checkbox"]:checked + span + span + span::before {
    position: absolute;
    top:2px;
    left: 14px;
}
input[type="checkbox"] {
    opacity: 0;
    width: 0px;
    height: 0px;
    margin:var(--noMargin);;
}

/* Carrusel */

.slide-inner {
    position: relative;
    overflow: hidden;
    width: var(--full);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    display: flex;
    gap:var(--gap1);
    opacity: 0;
}
.slide-indicador {
    list-style: none;
    margin: var(--noMargin);
    padding:var(--noPad);
    position: absolute;
    bottom: 11%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #0071ea79;
    cursor: pointer;
    display: block;
    font-size: 20px;
    transition: var(--transition1);
}
.slide-circulo:hover {
    cursor: pointer;
    transform: scale(1.5);
}
#slide-1:checked ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .slide-indicador li:nth-child(2) .slide-circulo, 
#slide-3:checked ~ .slide-indicador li:nth-child(3) .slide-circulo {
color: var(--colorPrincipal);
}


#getInTouch {
    background-image: url("../fotos/fondoGIT.jpg");
    background-size: cover;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 445px;
}
#getInTouch h2 {
    color: var(--color3);;
    font-family: var(--ff3);
    text-align: center;
}
#getInTouch span {
    font-family: var(--ff1);
}


footer {
    display: grid;
    place-content: center;
    align-items: center;
    font-family: var(--ff4);
    color: #828282;
    font-size: var(--font4);
    gap: 35px;
    padding-top: 60px;
    background-color: #F5FAFD;
}
footer > * {
    display: grid;
    flex-direction: column;
    grid-template-rows: 40px;
    height: 150px;
}
footer section:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    border-top: 1px solid #cacaca;
    align-items: center;
}
footer section:first-child div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
footer section:first-child span {
    color: black;
}

footer section:first-child p {
    width: 75%;
}
footer h2 {
    font-weight: normal;
    color: #646464;
    font-size: var(--font4);
    font-family: var(--ff2);
  }
footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}
footer a:link {
    font-family: var(--ff2);
    color:#828282;
    text-decoration: none;
    background-image: linear-gradient(var(--colorPrincipal), var(--colorPrincipal));
    background-position: 0% var(--full);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.5s;
    width: fit-content;
}
footer a:hover {
    color: var(--colorPrincipal);
    background-size: var(--full) 2px;
}
footer a:visited {
    color: var(--color2);
}
footer > section:nth-child(5) div {
    margin-top: var(--heightMargin);
    display: flex;
    flex-direction: column;
}
footer > section:nth-child(5) a {
    color: var(--colorPrincipal);
}
footer i, .navegacion i {
    padding:var(--pad2);
    border-radius: var(--full);
    border:1px solid #cacaca;
    cursor: pointer;
    color: #cacaca;
    transition: var(--transition1);
}
footer i:first-of-type {
    padding-left: var(--pad4);
    padding-right: var(--pad4);
}
footer i:last-of-type {
    padding-left: var(--pad3);
    padding-right: var(--pad3);
}
footer i:hover, .navegacion i:hover {
    background-color: #3793f4;
    border:1px solid #3793f4;
    color: var(--color3);
}

#news article {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 25px;
    height: 205px;
    justify-content: center;
    border: 1px solid #cacaca;
    transition: var(--transition1);
}
#news .first {
    background-image: url("../fotos/fondo1LatestNews.jpg");
    color:var(--color3);;
    font-size: var(--font5) ;
}
#news h2 {
    font-family: var(--ff1);
    margin-bottom: 39px;
    font-size: 28px;
}
#news h3 {
    font-family: var(--ff2);
    font-size: var(--font5) ;
}
#news {
    font-family: var(--ff3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#news article div {
    display: grid;
    grid-template-columns: 20% 68%;
    grid-column-gap:var(--gap1);
}
#news article > div img {
    width: var(--full);
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: var(--full);
}
#news article > div span:first-of-type {
    color: #646464;
    font-size: var(--font4) ;
    align-self: flex-end;
}
#news article > div span:last-of-type {
    color: var(--gris1);
    font-size: var(--font6) ;
}
#news a {
    width: fit-content;
    align-self: flex-end;
}
#news article i{
    color: var(--gris1);
}
#news article:hover i{
    color: var(--colorPrincipal);
}